@page
@model IndexModel
@{
    ViewData["Title"] = "Is Docker EE Frozen?";
}

@*<div class="page-container ok">
    <p class="ohyeah">Nope</p>
    <p class="sendhelp">Smooth sailing.</p>
</div>*@

<div class="page-container meh">
    <p class="ohyeah">KIND OF</p>
    <p class="sendhelp">We're not sure.</p>
</div>

@*<div class="page-container on-fire">
    <p class="ohyeah">YES</p>
    <p class="sendhelp">Panic.</p>
</div>*@
